@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.319);
    background-image: url(/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container{
    width: 880px;
    margin: 40px auto;
}

#heading{
    letter-spacing: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.accordian{
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.429);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px  rgba(18, 18, 18, 0.836);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer{
    padding-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.icon{
    transition:transform 0.2s;
}
/*
.answer.active{
    max-height: fit-content;
    transition: max-height 0.4s;
}
*/
.icon.active{
    transform: rotate(-180deg);
}

h4{
    font-weight: 600;
    font-size: 1rem;
}